<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Broker</title>

	<!-- favicon -->
	<link href="~/images/favicon.ico" rel="shortcut icon">
	<!-- Bootstrap core CSS -->
	<link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
	<!-- Slider -->
	<link href="~/css/tiny-slider.css" rel="stylesheet" />
	<!-- Tobii -->
	<link href="~/css/tobii.min.css" rel="stylesheet" type="text/css" />
	<!-- Choice css -->
	<link href="~/css/choices.min.css" rel="stylesheet" />
	<!--Material Icon -->
	<link href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
	<!-- Custom  Css -->
	<link href="~/css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/Broker.styles.css" asp-append-version="true" /> *@

	@await RenderSectionAsync("Styles", required: false)

</head>
<body>

	<!-- Navbar STart -->
	<header id="topnav" class="defaultscroll sticky">
		<div class="container">
			<a class="logo" href="@Url.Action("Index", "Home", new { area = "" })">
				@* <img src="~/images/logo-dark.png" class="logo-light-mode" alt="">
				<img src="~/images/logo-light.png" class="logo-dark-mode" alt=""> *@
				<img src="~/images/logo-dark-1.png" class="logo-light-mode" alt="" height="32" width="132">
				<img src="~/images/logo-dark-1.png" class="logo-dark-mode" alt="" height="32" width="132">
			</a>

			<div class="menu-extras">
				<div class="menu-item">
					<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
						<div class="lines">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</a>
				</div>
			</div>

			<ul class="buy-button list-inline mb-0">
				<li class="list-inline-item ps-1 mb-0">
					<a href="@Url.Action("Index", "Home", new { area = "Admin" })" class="btn btn-sm btn-icon btn-pills btn-primary">
						<i data-feather="user" class="icons"></i>
					</a>
				</li>
			</ul>

			<div id="navigation">
				<ul class="navigation-menu nav-left">
					<li><a href="@Url.Action("Index", "Home", new { area = "" })" class="sub-menu-item">Home</a></li>
					<li><a href="@Url.Action("AboutUs", "Home", new { area = "" })" class="sub-menu-item">About Us</a></li>
					<li><a href="@Url.Action("ContactUs", "Home", new { area = "" })" class="sub-menu-item">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- Navbar End -->
	@RenderBody()

	<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">

		<div id="appToast" class="toast align-items-center text-bg-primary border-0"
			 role="alert" aria-live="assertive" aria-atomic="true">

			<div class="d-flex">
				<div class="toast-body">
					<span id="toastMessage">Hello!</span>
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto"
						data-bs-dismiss="toast"></button>
			</div>

		</div>

	</div>


	<!-- Footer Start -->
	<section class="bg-building-pic d-table w-100" style="background: url('images/building.png') bottom no-repeat;"></section>
	<footer class="bg-footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer-py-60 footer-border">
						<div class="row">
							<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
								@* <a href="#" class="logo-footer"> <img src="~/images/logo-light.png" alt=""> </a> *@
								<a href="#" class="logo-footer"> <img src="~/images/logo-dark-1.png" alt="" height="32" width="132"> </a>
								<p class="mt-4"> Find the perfect home to buy or sell with trusted listings and expert support. <br /> Secure high-value commercial properties that drive business growth and returns. <br /> Discover rental properties with flexible options and hassle-free leasing. </p>
							</div>

							<div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
								<h5 class="footer-head">Company</h5>
								<ul class="list-unstyled footer-list mt-4">
									<li><a href="@Url.Action("Index", "Home", new { area = "" })" class="text-foot"><i class="mdi mdi-chevron-right align-middle me-1"></i> Home</a></li>
									<li><a href="@Url.Action("AboutUs", "Home", new { area = "" })" class="text-foot"><i class="mdi mdi-chevron-right align-middle me-1"></i> About us</a></li>
									<li><a href="@Url.Action("ContactUs", "Home", new { area = "" })" class="text-foot"><i class="mdi mdi-chevron-right align-middle me-1"></i> Contact us</a></li>
								</ul>
							</div>

							<div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
								<h5 class="footer-head">Location Details</h5>

								<div class="d-flex mt-4">
									<i data-feather="map-pin" class="fea icon-sm text-primary mt-1 me-3"></i>
									<div class="">
										<p class="mb-2"> 303, Apm Complex, Sattadhar cross road,<br> Sola, Ahmedabad, Gujarat 380061 </p>
										<a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.887208566479!2d72.52857697600876!3d23.06459636475743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e83b90c3cf8cb%3A0xe636d1e1ceac201f!2sPadhya%20Software%20Technologies!5e0!3m2!1sen!2sin!4v1744791925520!5m2!1sen!2sin" data-type="iframe" class="text-primary lightbox">View on Google map</a>
									</div>
								</div>

							</div>

							<div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
								<h5 class="footer-head">Get in Touch</h5>

								<div class="d-flex mt-4">
									<i data-feather="mail" class="fea icon-sm text-primary mt-1 me-3"></i>
									<a href="mailto:contact@example.com" class="text-foot">contact@example.com</a>
								</div>

								<div class="d-flex mt-4">
									<i data-feather="phone" class="fea icon-sm text-primary mt-1 me-3"></i>
									<a href="tel:+152534-468-854" class="text-foot">+152 534-468-854</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-py-30 footer-bar">
			<div class="container text-center">
				<div class="row">
					<div class="col">
						<div class="text-center">
							<p class="mb-0">
								© <script>document.write(new Date().getFullYear())</script>  <a href="https://www.padhyasoft.com/" target="_blank" class="text-reset">Padhya Software Technologies</a>. All Rights Reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer><!--end footer-->
	<!-- Footer End -->
	<!-- Back to top -->
	<a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
	<!-- Back to top -->
	<!-- JAVASCRIPTS -->
	<script src="~/assets/vendor/jquery/jquery.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<!-- Tiny slider -->
	<script src="~/js/tiny-slider.js"></script>
	<script src="~/js/easy_background.js "></script>
	<!-- Tobii -->
	<script src="~/js/tobii.min.js"></script>
	<!-- Choice js -->
	<script src="~/js/choices.min.js"></script>
	<!-- Icons -->
	<script src="~/js/feather.min.js"></script>
	<!-- Custom -->
	<script src="~/js/plugins.init.js"></script>
	<script src="~/js/app.js"></script>

	<script>
		function showToast(message, type = 'primary', delay = 3000) {

			const toastEl = $('#appToast');

			// Reset background classes
			toastEl.removeClass('text-bg-primary text-bg-success text-bg-danger text-bg-warning');

			// Apply type
			toastEl.addClass(`text-bg-${type}`);

			// Set message
			$('#toastMessage').text(message);

			// Create Bootstrap toast instance
			const toast = new bootstrap.Toast(toastEl[0], {
				delay: delay
			});

			toast.show();
		}
	</script>

	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
