@model ResponseModel<AreasMaster>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				@if (@* Model.IsCreate ==  *@true)
				{
					<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2"
							onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "AreasMaster", new { area = "Admin" })?Id=@Model.Obj.Id&cityId=@Model.Obj.CityId');">
						<i class="fas fa-plus"></i> &nbsp; Add New Areas
					</button>
				}
				<button type="button" id="btnBackToList" class="btn btn-warning btn-md pull-right mr-2 d-none" onclick="fnBackToList();">
					<i class="fas fa-arrow-left"></i> &nbsp; Back To List
				</button>
			</div>
			<h4 class="page-title">Areas</h4>
		</div>
	</div>
</div>
<!-- end page title -->



<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header p-0 divformSave_Display d-none">
				<form id="formSave" action="@Url.Action("Save", "AreasMaster", new { area = "Admin" })" method="post">
					<div class="row no-gutters" id="divformSave"></div>
				</form>
			</div>
			<div class="card-header" style=" margin: 5px !important;">
				<div class="form-group row">
					<label for="CityName" class="col-sm-2 col-form-label text-right">City Name</label>
					<div class="col-sm-4">
						<input type="text" id="CityName" name="CityName" class="form-control" value="@Model.Obj.CityName" readonly />
					</div>
				</div>

			</div>
			<div class="card-body">
				<div class="row no-gooters divformSave_Hide">
					<div class="col-md-12 my-1">
						<div class="responsive-table-plugin">
							<div class="table-rep-plugin">
								<div class="table-responsive" data-pattern="priority-columns">
									<table class="table table-sm table-bordered table-striped dt-responsive nowrap w-100 table_Common_SrNo">
										<thead>
											<tr><th>#</th><th>Areas Name</th>@* <th>Status</th>*@<th>Action</th></tr>
										</thead>
										<tbody>

											@if (Model.ObjList != null)
											{
												foreach (var item in Model.ObjList)
												{
													<tr>
														<td></td>
														<td>@item.AreaName</td>
														<td>
															<div class="btn-group">
																@if (@* Model.IsUpdate ==  *@true)
																{
																	<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
																			onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "AreasMaster", new { area = "Admin" })?Id=@item.Id&cityId=@item.CityId');">
																		<i class="ri-pencil-fill"></i>
																	</button>
																}
																@if (@* Model.IsDelete ==  *@true && item.IsDeleted == false)
																{
																	<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
																			onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed", "AreasMaster", new { area = "Admin" })?Id=@item.Id&cityId=@item.CityId');">
																		<i class="ri-delete-bin-2-line"></i>
																	</button>
																}
																@* <button type="button" class="btn btn-success btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="View"
																		onclick="location.href='@Url.Action("Index", "AreaMaster")?AreasId=@item.Id'">
																	View
																</button> *@

															</div>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div> <!-- end .table-responsive -->

							</div> <!-- end .table-rep-plugin-->
						</div> <!-- end .responsive-table-plugin-->
					</div>

					<div class="clearfix"></div>
				</div>
			</div> <!-- end card body-->
		</div> <!-- end card -->
	</div><!-- end col-->
</div> <!-- end row-->
@section Scripts {
	<script type="text/javascript">

	</script>
}