@model ResponseModel<PropertyCategory>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}


@section Styles {
	<style type="text/css">
		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: contents !important;
		}
	</style>
}

<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				
					<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide"
							onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "PropertyCategory", new { area = "Admin" })');">
						<i class="fas fa-plus"></i> &nbsp; Add new
					</button>

				<button type="button" id="btnBackToList" class="btn btn-primary btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnBackToList();">
					<i class="bi bi-arrow-left-circle"></i> &nbsp; Back To List
				</button>
			</div>
			<h4 class="page-title">Property Category</h4>
		</div>
	</div>
</div>
<!-- end page title -->

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header p-0 divformSave_Display d-none">
				<form id="formSave" action="@Url.Action("Save", "PropertyCategory", new { area = "Admin" })" method="post">
					<div class="row no-gutters" id="divformSave"></div>
				</form>
			</div>
			<div class="card-body">
				<div class="row no-gooters divformSave_Hide">
					<div class="col-md-12 my-1">
						<div class="responsive-table-plugin">
							<div class="table-rep-plugin">
								<div class="table-responsive" data-pattern="priority-columns">
									<table class="table table-sm table-bordered table-striped dt-responsive nowrap w-100 table_Common_SrNo">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											@if (Model.ObjList != null)
											{
												foreach (var item in Model.ObjList.OrderBy(x => x.Id))
												{
													<tr>
														<td></td>
														<td>@item.Name</td>
													    <td>
															<div class="btn-group">
																
																	<button type="button" class="btn btn-info btn-sm btn-flat" data-toggle="tooltip" data-placement="top" title="Edit"
																			onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "PropertyCategory", new { area = "Admin" })?Id=@item.Id');">
																		<i class="ri-pencil-fill"></i>
																	</button>
																
																	<button type="button" class="btn btn-danger btn-sm btn-flat ml-2" data-toggle="tooltip" data-placement="top" title="Delete"
																			onclick="fnDelete_Confirm('@Url.Action("DeleteConfirmed", "PropertyCategory", new { area = "Admin" })?Id=@item.Id');">
																		<i class="ri-delete-bin-2-line"></i>
																	</button>
																
															</div>
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div> <!-- end .table-responsive -->

							</div> <!-- end .table-rep-plugin-->
						</div> <!-- end .responsive-table-plugin-->
					</div>

					<div class="clearfix"></div>
				</div>
			</div> <!-- end card body-->
		</div> <!-- end card -->
	</div><!-- end col-->
</div> <!-- end row-->
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});


	

		// function fnChange_Select($id) {


		// 	var selectedValue = $('#select' + $id).val();

		// 	if (typeof selectedValue != 'undefined' && selectedValue != null && selectedValue != '' && selectedValue.length > 0)
		// 		$('#input' + $id).val(selectedValue.join(','));
		// 	else
		// 		$('#input' + $id).val('');

		// 	$('#input' + $id).trigger('change');
		// }

		//function fnChange_Checkbox($this) {
		//

		//    var selectedValue = $('#selectedMenu').val();

		//    if (selectedValue == 'undefined' || selectedValue == null)
		//        selectedValue = "";

		//    if ($this.checked && selectedValue.indexOf($this.value) == -1) {
		//        selectedValue = selectedValue + $this.value + ",";
		//    }
		//    else if (!$this.checked && selectedValue.indexOf($this.value) > -1) {
		//        selectedValue = selectedValue.replace($this.value + ",", "");
		//        selectedValue = selectedValue.replace($this.value, "");
		//    }

		//    $('#selectedMenu').val(selectedValue);
		//    $('#selectedMenu').trigger('change');
		//}

	</script>
}


