@model ResponseModel<Lead>

@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

}


@section Styles {
	<style type="text/css">
		.select2-container .select2-selection--multiple .select2-selection__rendered {
			display: contents !important;
		}
	</style>
}

<!-- start page title -->
<div class="row">
	<div class="col-12">
		<div class="page-title-box">
			<div class="page-title-right">
				
					<button type="button" id="btnAddNewItem" class="btn btn-primary btn-md pull-right mr-2 divformSave_Hide"
						onclick="fnLoadParialView('divformSave', '@Url.Action("Partial_AddEditForm", "Lead", new { area = "Admin" })');">
						<i class="bi bi-plus-circle"></i> &nbsp; Add New
					</button>
				
				<button type="button" id="btnBackToList" class="btn btn-primary btn-md pull-right mr-2 divformSave_Display d-none" onclick="fnBackToList();">
					<i class="bi bi-arrow-left-circle"></i> &nbsp; Back To List
				</button>
			</div>
			<h4 class="page-title">Lead</h4>
		</div>
	</div>
</div>
<!-- end page title -->

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header p-0 divformSave_Display d-none">
				<form id="formSave" action="@Url.Action("Save", "Lead", new { area = "Admin" })" method="post">
					<div class="row no-gutters" id="divformSave"></div>
				</form>
			</div>
			<div class="card-body divformSave_Hide">
				@if (Model.SelectListItems != null && Model.ObjList != null)
				{
					// Required display order
					var statusOrder = new List<string> { "NEW", "INPROC", "WON", "LOST" };

					var leadStatuses = Model.SelectListItems
					.Where(x => x.Group == "LEADSTATUS")
					.OrderBy(x => statusOrder.IndexOf(x.Value))
					.ToList();

					<div class="mb-3 d-flex flex-wrap gap-2">
						@foreach (var status in leadStatuses)
						{
							int leadCount = Convert.ToInt32(status.Value2);

							string badgeClass = status.Value switch
							{
								"NEW" => "bg-primary",
								"INPROC" => "bg-warning text-dark",
								"WON" => "bg-success",
								"LOST" => "bg-danger",
								_ => "bg-secondary"
							};

							<span role="button"
								  class="badge rounded-pill @badgeClass px-3 py-2 fs-6"
								  onclick="filterByStatus('@status.Value')">
								@status.Text (@leadCount)
							</span>
						}
					</div>
				}
				<div class="row no-gooters ">
					<div class="col-md-12 my-1">
						<div class="responsive-table-plugin">
							<div class="table-rep-plugin">
								<div class="table-responsive" data-pattern="priority-columns">
									<table class="table table-sm table-bordered table-striped dt-responsive nowrap w-100 table_Common_SrNo">
										<thead>
											<tr>
												<th>Sr.No</th>
												<th>Name</th>
												<th>Mobile No</th>
												<th>Email</th>
												<th>Next FollowUp Date</th>
												@* <th>Assigned To</th> *@
												<th>Lead Source</th>																					
												<th>Status</th>																					
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											@if (Model.ObjList != null)
											{
												foreach (var item in Model.ObjList.OrderBy(x => x.Id))
												{
													<tr>
														<td></td>
														<td>@item.Name</td>
														<td>@item.Mobile</td>
														<td>@item.Email</td>
														<td>@item.NextFollowupDate?.ToString(Common.DateTimeFormat_ddMMMyyyy)</td>
														@* <td>@item.AssignedTo_Text</td> *@
														<td>@item.LeadSource_TEXT</td>
														<td>@item.Status_TEXT</td>
														<td>
															
																<div class="btn-group">
																@if (item.Status == "NEW" || item.Status == "INPROC")
																{
																	<button type="button"
																			class="btn btn-info btn-sm btn-flat"
																			data-toggle="tooltip"
																			data-placement="top"
																			title="Edit"
																			onclick="fnLoadParialView(
																				'divformSave',
																				'@Url.Action("Partial_AddEditForm", "Lead", new { area = "Admin" })?Id=@item.Id'
																			);">
																		<i class="ri-pencil-fill"></i>
																	</button>
																}		
																	<button type="button"
																			class="btn btn-primary btn-sm btn-flat ml-2"
																			data-toggle="tooltip"
																			data-placement="top"
																			title="View Follow Up"
																			onclick="location.href='@Url.Action("Index", "LeadFollowUp", new { area = "Admin" })?Id=@item.Id&Status=@item.Status';">
																		View Follow Up
																	</button>
																</div>
															
														</td>
													</tr>
												}
											}
										</tbody>
									</table>
								</div> <!-- end .table-responsive -->

							</div> <!-- end .table-rep-plugin-->
						</div> <!-- end .responsive-table-plugin-->
					</div>

					<div class="clearfix"></div>
				</div>
			</div> <!-- end card body-->
		</div> <!-- end card -->
	</div><!-- end col-->
</div> <!-- end row-->
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});


		function fnChange_Area($this,$selector) {

			if (typeof $selector != 'undefined' && $selector != null && $selector.length > 0) {
				ShowLoader(true);

				 // if (typeof $type != 'undefined' && $type != null && $type.length > 0 && $type == 'STATE') {
					// $('#District_Id').empty().append('<option value="0">-- Select --</option>');
					// $('#Taluka_Id').empty().append('<option value="0">-- Select --</option>');
					// $('#Village_Id').empty().append('<option value="0">-- Select --</option>');
				 // }
				 // else if (typeof $type != 'undefined' && $type != null && $type.length > 0 && $type == 'DISTRICT') {
					// $('#Taluka_Id').empty().append('<option value="0">-- Select --</option>');
					// $('#Village_Id').empty().append('<option value="0">-- Select --</option>');

				 // }
				 // else if (typeof $type != 'undefined' && $type != null && $type.length > 0 && $type == 'TALUKA') {
					// $('#Village_Id').empty().append('<option value="0">-- Select --</option>');
				 // }




				var Dropdown = $($selector);
				Dropdown.empty();
				Dropdown.append('<option value="0">-- Select --</option>');

				var $url = '@Url.Action("GetArea", "Property")?&Id=' + $($this).val();

				$.ajax({
					url: $url,
					type: 'GET',
					data: {},
					dataType: "json",
					success: function (response) {
						debugger;
						ShowLoader(false);
						$.each(response, function (index, state) {
							Dropdown.append('<option value="' + state.Value + '">' + state.Text + '</option>');
						});

					},
					failure: function () { ShowLoader(false); CommonAlert_Error(null); },
					error: function () { ShowLoader(false); CommonAlert_Error(null); }
				});
			}

		}
		function filterByStatus(status) {
			window.location.href =
				'@Url.Action("Index", "Lead", new { area = "Admin" })' + '?Status=' + status;
		}
		// function fnChange_Select($id) {


		// 	var selectedValue = $('#select' + $id).val();

		// 	if (typeof selectedValue != 'undefined' && selectedValue != null && selectedValue != '' && selectedValue.length > 0)
		// 		$('#input' + $id).val(selectedValue.join(','));
		// 	else
		// 		$('#input' + $id).val('');

		// 	$('#input' + $id).trigger('change');
		// }

		//function fnChange_Checkbox($this) {
		//

		//    var selectedValue = $('#selectedMenu').val();

		//    if (selectedValue == 'undefined' || selectedValue == null)
		//        selectedValue = "";

		//    if ($this.checked && selectedValue.indexOf($this.value) == -1) {
		//        selectedValue = selectedValue + $this.value + ",";
		//    }
		//    else if (!$this.checked && selectedValue.indexOf($this.value) > -1) {
		//        selectedValue = selectedValue.replace($this.value + ",", "");
		//        selectedValue = selectedValue.replace($this.value, "");
		//    }

		//    $('#selectedMenu').val(selectedValue);
		//    $('#selectedMenu').trigger('change');
		//}

	</script>
}


