@model ResponseModel<Properties>
@{
	ViewData["Title"] = "Properties";

	var propertySearch = Model.Data1 ?? new PropertySearch();
}


<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('images/bg/03.jpg');">
	<div class="bg-overlay bg-gradient-overlay-2"></div>
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-12">
				<div class="title-heading text-center">
					<h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Property Listing</h5>
				</div>
			</div>
		</div>
	</div>
</section><!--end section-->
<div class="position-relative">
	<div class="shape overflow-hidden text-white">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
		</svg>
	</div>
</div>
<!-- Hero End -->
<!-- Start -->
<section class="section">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card bg-white p-4 rounded-3 shadow sticky-bar">
					<!-- SEARCH -->
					<div>
						<h6 class="mb-0">Search Properties</h6>

						<div class="search-bar mt-2">
							<select class="form-select choices-select" id="choices-PropertyLocation" data-placeholder="Select Location">
								<option value="0">Select Location</option>
								@if (Model.SelectListItems != null)
								{
									foreach (var item in Model.SelectListItems.Where(x => x.Group == "L"))
									{
										if (Convert.ToString(propertySearch.Location) == item.Value)
										{
											<option value="@item.Value" selected>@item.Text</option>
										}
										else
										{
											<option value="@item.Value">@item.Text</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<!-- SEARCH -->
					@if (Model.SelectListItems != null)
					{
						<!-- TYPE -->
						<div class="mt-4">
							<h6 class="mb-0">Choose Category</h6>
							<select class="form-select choices-select" id="choices-PropertyCategory" data-placeholder="Select Category">
								@if (Model.SelectListItems != null)
								{
									foreach (var item in Model.SelectListItems.Where(x => x.Group == "PC"))
									{
										if (Convert.ToString(propertySearch.PropertyCategory) == item.Value)
										{
											<option value="@item.Value" selected>@item.Text</option>
										}
										else
										{
											<option value="@item.Value">@item.Text</option>
										}
									}
								}
							</select>
							@* <ul class="list-unstyled mt-2 mb-0">
								@foreach (var item in Model.SelectListItems.Where(x => x.Group == "PC"))
								{
									if (Convert.ToString(propertySearch.PropertyCategory) == item.Value)
									{
										<li class="list-inline-item mb-0 me-2">
											<div class="custom-control custom-radio custom-control-inline">
												<div class="form-check mb-0">
													<input class="form-check-input" type="radio" name="flexRadioDefault" id="@item.Value" checked>
													<label class="form-check-label" for="@item.Value">For @item.Text</label>
												</div>
											</div>
										</li>
									}
									else
									{
										<li class="list-inline-item mb-0 me-2">
											<div class="custom-control custom-radio custom-control-inline">
												<div class="form-check mb-0">
													<input class="form-check-input" type="radio" name="flexRadioDefault" id="@item.Value">
													<label class="form-check-label" for="@item.Value">For @item.Text</label>
												</div>
											</div>
										</li>
									}
								}
							</ul> *@
						</div>
						<!-- TYPE -->
					}

					@* <div class="mt-4">
						<h6 class="mb-0">Property Type</h6>
						<select class="form-select choices-select" id="choices-PropertyType_Parent">
							<option value="0">Select Type</option>
							@if (Model.SelectListItems != null)
							{
								foreach (var item in Model.SelectListItems.Where(x => x.Group == "PT" && int.TryParse(x.Value2, out var z) && z <= 0))
								{
									if (Convert.ToString(propertySearch.PropertyType_Parent) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							}
						</select>
					</div> *@
					<div class="mt-4">
						<h6 class="mb-0 d-none">Property Type</h6>
						<select class="form-select choices-select" id="choices-PropertyType" data-placeholder="Select Type">
							@if (Model.SelectListItems != null)
							{
								foreach (var item in Model.SelectListItems.Where(x => x.Group == "PT"))
								{
									if (Convert.ToString(propertySearch.PropertyType) == item.Value)
									{
										<option value="@item.Value" selected data-parent="@item.Value2">@item.Text</option>
									}
									else
									{
										<option value="@item.Value" data-parent="@item.Value2">@item.Text</option>
									}
								}
							}
						</select>
					</div>
					<!-- Location -->

					<div class="mt-4">
						<button role="button" class="btn btn-primary w-100" onclick="fnSubmitFormHere()">Search</button>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6 col-12">
				<div class="row g-4">
					@if (Model.ObjList != null && Model.ObjList.Count() > 0)
					{
						for (int i = 0; i < Model.ObjList.Count(); i++)
						{
							<div class="col-lg-6 col-12">
								<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
									<div class="property-image position-relative overflow-hidden shadow">
										@if (!string.IsNullOrEmpty(Model.ObjList[i].ImagePath))
										{
											<img src="@Url.Content("~/" + Model.ObjList[i].ImagePath)" class="img-fluid" alt="" style="width:100%; height:140px">
										}
										else
										{
											<img src="~/no_image_available.png" class="img-fluid" alt="" style="width:100%; height:140px">
										}

										<ul class="list-unstyled property-icon">
											<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
											<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
											<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
										</ul>
									</div>
									<div class="card-body content p-4">
										<span class="title fs-5 text-dark fw-medium">@Model.ObjList[i].Title</span><br />
										<span class="title fs-5 text-dark fw-medium">@Model.ObjList[i].Description</span>

										<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">

											<li class="d-flex align-items-center">
												<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
												<span class="text-muted">@Model.ObjList[i].Property_Type</span>
											</li>

											<li class="d-flex align-items-center me-3">
												<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
												<span class="text-muted">@(Convert.ToInt32(Model.ObjList[i].AreaSqft)) sqf</span>
											</li>

										</ul>
										<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
											<li class="list-inline-item mb-0">
												<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
												<span class="text-muted">@Model.ObjList[i].FurnishingStatus_TEXT</span>
											</li>

											<li class="list-inline-item mb-0">
												<p class="fw-medium mb-0">@Model.ObjList[i].Property_Category</p>
											</li>
										</ul>
									</div>
								</div>
							</div>

						}
					}
					else
					{
						<div class="col-12">
							<p class="text-muted para-desc mb-0">No properties found matching your selected criteria.</p>
						</div>
					}
				</div>
				@* <div class="row">
					<div class="col-12 mt-4 pt-2">
						<ul class="pagination justify-content-center mb-0">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true"><i class="mdi mdi-chevron-left fs-6"></i></span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true"><i class="mdi mdi-chevron-right fs-6"></i></span>
								</a>
							</li>
						</ul>
					</div>
				</div> *@
			</div>
		</div>

	</div>
</section><!--end section-->
<!-- End -->
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
	<script type="text/javascript">

		const _el = document.getElementById('choices-PropertyCategory');
		_el.dispatchEvent(new Event('change', { bubbles: true }));

		document.querySelectorAll('.choices-select:not([data-choices-init])').forEach(el => {
			const instance = new Choices(el, { searchEnabled: true, removeItemButton: true, placeholder: true, placeholderValue: el.getAttribute('data-placeholder') || 'Select an option', });
			el._choicesInstance = instance;
			el.setAttribute('data-choices-init', 'true');
		 });


				function fnSubmitFormHere(){
					const checkedId = $('input[name="flexRadioDefault"]:checked').attr('id');
					const location = $('#choices-PropertyLocation').val();
					const category = $('#choices-PropertyCategory').val();
					//const type_Parent = $('#choices-PropertyType_Parent').val();
					const type = $('#choices-PropertyType').val();

					const url =
					  `@Url.Action("Properties", "Home", new { area = "" })?` +
					  `&PropertyFor=${encodeURIComponent(checkedId)}` +
					  `&Location=${encodeURIComponent(location)}` +
					  `&PropertyCategory=${encodeURIComponent(category)}` +
					  //`&PropertyType_Parent=${encodeURIComponent(type_Parent)}` +
					  `&PropertyType=${encodeURIComponent(type)}`;

					
					window.location.href = url;

				}


		let childChoices;

		const childSelect = document.getElementById('choices-PropertyType');
		const originalOptions = Array.from(childSelect.options).map(o => o.cloneNode(true) );

		document.getElementById('choices-PropertyCategory')
		.addEventListener('change', function () {
			const childSelect = document.getElementById('choices-PropertyType');
			const choices = childSelect._choicesInstance;

			choices.clearChoices();
			choices.removeActiveItems();

			let categoryId = this.value;
			
			$.ajax({
				type: 'GET',
				url: '@Url.Action("PropertyCategoryType_Get", "Home")?CategoryId='+categoryId,
				data: null,
				cache: false,
				contentType: false,
				processData: false,
				dataType: "json",
				success: function (response) {
					var filterd = response.map(o => ({ value: o.TypeId, label: o.TypeName, }));
					
					choices.setChoices(filterd, 'value', 'label', true );

					choices.setChoiceByValue('ipsum');
				},
				error: function (xhr) {
					console.error("Error:", xhr.responseText);
				}
			});
		});
	</script>
}