@model ResponseModel<Properties>
@{
	ViewData["Title"] = "Properties";

	var propertySerch = Model.Data1 ?? new PropertySerch();
}


<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('images/bg/03.jpg');">
	<div class="bg-overlay bg-gradient-overlay-2"></div>
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-12">
				<div class="title-heading text-center">
					<p class="text-white-50 para-desc mx-auto mb-0">Grid with sidebar</p>
					<h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Property Listing</h5>
				</div>
			</div>
		</div>
	</div>
</section><!--end section-->
<div class="position-relative">
	<div class="shape overflow-hidden text-white">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
		</svg>
	</div>
</div>
<!-- Hero End -->
<!-- Start -->
<section class="section">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="card bg-white p-4 rounded-3 shadow sticky-bar">
					<!-- SEARCH -->
					<div>
						<h6 class="mb-0">Search Properties</h6>

						<div class="search-bar mt-2">
							<select class="form-select choices-select" id="choices-PropertyLocation">
								@if (Model.SelectListItems != null)
								{
									foreach (var item in Model.SelectListItems.Where(x => x.Group == "L"))
									{
										if (Convert.ToString(propertySerch.Location) == item.Value)
										{
											<option value="@item.Value" selected>@item.Text</option>
										}
										else
										{
											<option value="@item.Value">@item.Text</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<!-- SEARCH -->
					<!-- TYPE -->
					<div class="mt-4">
						<h6 class="mb-0">Type of Properties</h6>

						<ul class="list-unstyled mt-2 mb-0">
							<li class="list-inline-item mb-0 me-2">
								<div class="custom-control custom-radio custom-control-inline">
									<div class="form-check mb-0">
										<input class="form-check-input" type="radio" name="flexRadioDefault" id="Buy" @(Model.Data1.PropertyFor == "Buy" ? "checked" : "")>
										<label class="form-check-label" for="buy">For Buy</label>
									</div>
								</div>
							</li>
							<li class="list-inline-item mb-0 me-2">
								<div class="custom-control custom-radio custom-control-inline">
									<div class="form-check mb-0">
										<input class="form-check-input" type="radio" name="flexRadioDefault" id="Rent" @(Model.Data1.PropertyFor == "Buy" ? "checked" : "")>
										<label class="form-check-label" for="rent">For Rent</label>
									</div>
								</div>
							</li>

						</ul>
					</div>
					<!-- TYPE -->
					<!-- Categories -->
					<div class="mt-4">
						<h6 class="mb-0">Categories</h6>
						<select class="form-select choices-select" id="choices-PropertyCategory">
							@if (Model.SelectListItems != null)
							{
								foreach (var item in Model.SelectListItems.Where(x => x.Group == "PC"))
								{
									if (Convert.ToString(propertySerch.PropertyCategory) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							}
						</select>
					</div>
					<!-- Categories -->
					<!-- Location -->
					<div class="mt-4">
						<h6 class="mb-0">Property Type</h6>
						<select class="form-select choices-select" id="choices-PropertyType_Parent">
							@if (Model.SelectListItems != null)
							{
								foreach (var item in Model.SelectListItems.Where(x => x.Group == "PT" && int.TryParse(x.Value2, out var z) && z <= 0))
								{
									if (Convert.ToString(propertySerch.PropertyType_Parent) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							}
						</select>
					</div>
					<div class="mt-4">
						<h6 class="mb-0 d-none">&nbsp;</h6>
						<select class="form-select choices-select" id="choices-PropertyType">
							@if (Model.SelectListItems != null)
							{
								foreach (var item in Model.SelectListItems.Where(x => x.Group == "PT" && int.TryParse(x.Value2, out var z) && z > 0))
								{
									if (Convert.ToString(propertySerch.PropertyType) == item.Value)
									{
										<option value="@item.Value" selected>@item.Text</option>
									}
									else
									{
										<option value="@item.Value">@item.Text</option>
									}
								}
							}
						</select>
					</div>
					<!-- Location -->

					<div class="mt-4">
						<input type="hidden" name="PropertyFor" id="ListingType" value="@Model.Data1.PropertyFor" style="display:none" />
						<button role="button" class="btn btn-primary w-100" onclick="fnSubmitFormHere()">Search</button>
					</div>
				</div>
			</div>

			<div class="col-lg-8 col-md-6 col-12">
				<div class="row g-4">
					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/1.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">10765 Hillshire Ave, Baton Rouge, LA 70810, USA</a>

								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/2.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">59345 STONEWALL DR, Plaquemine, LA 70764, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/3.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">3723 SANDBAR DR, Addis, LA 70710, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/4.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">Lot 21 ROYAL OAK DR, Prairieville, LA 70769, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/5.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">710 BOYD DR, Unit #1102, Baton Rouge, LA 70808, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/6.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">5133 MCLAIN WAY, Baton Rouge, LA 70809, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/7.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">1574 Sharlo Ave, Baton Rouge, LA 70820, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>

					<div class="col-lg-6 col-12">
						<div class="card property border-0 shadow position-relative overflow-hidden rounded-3">
							<div class="property-image position-relative overflow-hidden shadow">
								<img src="images/property/8.jpg" class="img-fluid" alt="">
								<ul class="list-unstyled property-icon">
									<li class=""><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="home" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="heart" class="icons"></i></a></li>
									<li class="mt-1"><a href="javascript:void(0)" class="btn btn-sm btn-icon btn-pills btn-primary"><i data-feather="camera" class="icons"></i></a></li>
								</ul>
							</div>
							<div class="card-body content p-4">
								<a href="property-detail.html" class="title fs-5 text-dark fw-medium">2528 BOCAGE LAKE DR, Baton Rouge, LA 70809, USA</a>
								<ul class="list-unstyled mt-3 py-3 border-top border-bottom d-flex align-items-center justify-content-between">
									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-arrow-expand-all fs-5 me-2 text-primary"></i>
										<span class="text-muted">8000sqf</span>
									</li>

									<li class="d-flex align-items-center me-3">
										<i class="mdi mdi-bed fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Beds</span>
									</li>

									<li class="d-flex align-items-center">
										<i class="mdi mdi-shower fs-5 me-2 text-primary"></i>
										<span class="text-muted">4 Baths</span>
									</li>
								</ul>
								<ul class="list-unstyled d-flex justify-content-between mt-2 mb-0">
									<li class="list-inline-item mb-0">
										<span class="text-muted">Price</span>
										<p class="fw-medium mb-0">$5000</p>
									</li>
									<li class="list-inline-item mb-0 text-muted">
										<span class="text-muted">Rating</span>
										<ul class="fw-medium text-warning list-unstyled mb-0">
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0"><i class="mdi mdi-star"></i></li>
											<li class="list-inline-item mb-0 text-dark">5.0(30)</li>
										</ul>
									</li>
								</ul>
							</div>
						</div><!--end items-->
					</div>
				</div>

				<div class="row">
					<div class="col-12 mt-4 pt-2">
						<ul class="pagination justify-content-center mb-0">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true"><i class="mdi mdi-chevron-left fs-6"></i></span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item active"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true"><i class="mdi mdi-chevron-right fs-6"></i></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section><!--end section-->
<!-- End -->
@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
	<script type="text/javascript">

		document.querySelectorAll('.choices-select:not([data-choices-init])')
		  .forEach(el => {
			const instance = new Choices(el, {
			  searchEnabled: true,
			  removeItemButton: true,
			});

			el._choicesInstance = instance;

			el.setAttribute('data-choices-init', 'true');
		  });

				function fnSubmitFormHere(){
					const checkedId = $('input[name="flexRadioDefault"]:checked').attr('id');
					const location = $('#choices-PropertyLocation').val();
					const category = $('#choices-PropertyCategory').val();
					const type_Parent = $('#choices-PropertyType_Parent').val();
					const type = $('#choices-PropertyType').val();

					const url =
					  `@Url.Action("Properties", "Home", new { area = "" })?` +
					  `&PropertyFor=${encodeURIComponent(checkedId)}` +
					  `&Location=${encodeURIComponent(location)}` +
					  `&PropertyCategory=${encodeURIComponent(category)}` +
					  `&PropertyType_Parent=${encodeURIComponent(type_Parent)}` +
					  `&PropertyType=${encodeURIComponent(type)}`;

					window.location.href = url;

				}


		let childChoices;

		const childSelect = document.getElementById('choices-PropertyType');
		const originalOptions = Array.from(childSelect.options).map(o =>
		  o.cloneNode(true)
		);

		document
		.getElementById('choices-PropertyType_Parent')
		.addEventListener('change', function () {
		  const selectedParent = this.value;

			const choices = childSelect._choicesInstance;

			choices.clearChoices();
			choices.setChoices(originalOptions.filter(o => o.dataset.parent === selectedParent).map(o => ({ value: o.value, label: o.text, })), 'value', 'label', true );

			choices.removeActiveItems();
		});
	</script>
}