@model ResponseModel<PropertyType>

@{
	Layout = null;
}

<div class="col-md-12">
	<div class="card card-info">

		<div class="card-header">
			<h3 class="card-title">@(Model.Obj != null && Model.Obj.Id > 0 ? "Edit" : "Create") Property Type</h3>
			<input type="text" class="form-control d-none" id="Id" name="Id" value="@(Model.Obj != null && Model.Obj.Id > 0 ? Model.Obj.Id.ToString() : "")">
		</div>

		<div class="card-body form-horizontal">
			<div class="row no-gutters">
				<div class="col-12">
					<div class="form-group row">
						<label for="Name" class="col-2 col-form-label text-end">Property Type Name<span style="color:red">*</span></label>
						<div class="col-sm-4">
							<input type="text" class="form-control form-control-sm" id="Name" name="Name" value="@Model.Obj.Name"
								   placeholder="Property Type Name" autocomplete="off">
						</div>
						<label for="Name" class="col-2 col-form-label text-end">Display Seq No</label>
						<div class="col-sm-4">
							<input type="text" class="form-control form-control-sm isNumberKey" id="Display_Seq_No" name="Display_Seq_No" value="@Model.Obj.Display_Seq_No"
								   placeholder="Display Seq No" autocomplete="off">
						</div>
					</div>
					
					@{
						var selectedValue = Model.Obj.SelectedCategoryId_Str?.Split(',').ToList();

						<div class="form-group row">
							<label class="col-sm-2 col-form-label text-end">Select Category</label>
							<div class="col-sm-8 d-flex flex-wrap">
								<select multiple id="selectCategory" class="form-control form-control-sm select2 w-100" onchange="fnChange_Select('Category')">
									<option value="" disabled>-- Select --</option>
									@if (Model.SelectListItems != null)
									{
										foreach (var item in Model.SelectListItems.Where(x => x.Group == "PC"))
										{
											if (selectedValue != null && selectedValue.Any(x => x == item.Value))
											{
												<option value="@item.Value" selected>@item.Text</option>
											}
											else
											{
												<option value="@item.Value">@item.Text</option>
											}
										}
									}
								</select>

								<input type="text" id="inputCategory" name="SelectedCategoryId_Str" value="@Model.Obj.SelectedCategoryId_Str" class="d-none" />
							</div>
						</div>
					}

					<div class="form-group row">
						<label for="DisplayInHomePage" class="col-2 col-form-label text-end">Display In Homepage ? </label>
						<div class="col-sm-4">
							<div class="form-check form-check-inline form-control border-0">
								<input type="checkbox" class="form-check-input"
									   id="switch_DisplayInHomePage" name="DisplayInHomePage" @(Model.Obj == null || Model.Obj.DisplayInHomePage == true || Model.Obj.Id == 0 ? "checked" : "")
									   onchange="fnChange_Switch(this, 'label_Switch_DisplayInHomePage')">
								<label class="form-check-label" for="switch_DisplayInHomePage" id="label_Switch_DisplayInHomePage" 
								data-true="Yes" data-false="No">@((Model.Obj != null && Model.Obj.DisplayInHomePage == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Yes" : "No")</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label for="IsActive" class="col-2 col-form-label text-end">Status</label>
						<div class="col-sm-4">
							<div class="form-check form-check-inline form-control border-0">
								<input type="checkbox" class="form-check-input"
									   id="switch_Status" name="IsActive" @(Model.Obj == null || Model.Obj.IsActive == true || Model.Obj.Id == 0 ? "checked" : "")
									   onchange="fnChange_Switch(this, 'label_Switch_Status')">
								<label class="form-check-label" for="switch_Status" id="label_Switch_Status" data-true="Active" data-false="Inactive">@((Model.Obj != null && Model.Obj.IsActive == true) || Model.Obj == null || Model.Obj.Id == 0 ? "Active" : "Inactive")</label>
							</div>
						</div>
					</div>

					
				</div>
			</div>
		</div>

		<div class="card-footer">
			<div class="row no-gutters">
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-6 text-left">
					<button type="submit" class="btn btn-success btnSubmit">Save</button>
					<button type="button" class="btn btn-danger" onclick="fnCloseParialView('divformSave', '#table_Common');">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});


	</script>
}
